<div class="form">
    <div class="title-holder">
        <h1>School Tool</h1>
    </div>
    <form action="/upload" method="post" enctype="multipart/form-data">
    <div class="form-holder">
        <input type="text" placeholder="Enter your name?" required name="name">
    </div>
    <div class="form-holder">
        <input type="text" placeholder="Enter your term?" required name="term">
    </div>
    <div class="form-holder">
        <input type="file" accept=".txt" required name="pdfs">
    </div>
    <div class="form-holder">
        <button type="submit">Check</button>
    </div>
    </form>
</div>
<link rel="stylesheet" href="/css/style.css">